@import url("https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Nunito:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calistoga&display=swap");
:root {
	/*	--dark:#006989;
	--primary:#3da1bf;
	--secondary:#007090;
	--light:#a3bac3;
	--font:#003559;
	--white:white;
*/
	--dark: #89e7d5;
	--primary: #19e7c0;
	--secondary: #03cda7;
	--light: #ddfff9;
	--font: #1d1d1d;
	--white: white;
	--black: #535454;
}
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}
* {
	padding: 0px;
	margin: 0px;
	border: none;
	outline: none;
	font-family: Nunito;
	transition: all 0.25s linear;

	/*border: 1px solid rgba(0, 0, 0, 0.2);*/
}
*::selection {
	background: var(--primary);
}
a {
	text-decoration: none;
	color: unset;
}
button {
	cursor: pointer;
}
#nav span {
	margin: 1rem 1rem;
	font-size: 1.2rem;
	text-shadow: 1px 1px 2px var(--black);
}
#nav {
	position: sticky;
	left: 0px;
	top: 0px;
	color: var(--white);
	display: flex;
	text-shadow: 1px 1px 0px var(--black);
	background: var(--dark);
	flex-direction: row;
	justify-content: flex-end;
	z-index: 5;
	height: 3rem;
	box-shadow: 0px 4px 10px var(--secondary),
		inset 4px 0px 10px var(--secondary);
	transition: all 0.25s linear;
}
#nav .close {
	display: none;
}
#nav span:hover {
	font-weight: bolder;
	text-decoration: underline;
}
.section {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
#intro {
	background: var(--dark);
}
#intro .image {
	position: relative;
	margin: 0px 3rem;
	background: rgba(0, 0, 0, 0.2);
}
#intro .image img {
	height: 75vh;
	width: 70vh;
	transform-style: preserve-3d;
}
#intro .image #pic-img {
	transform: translateZ(20px);
	/*position: fixed;*/
	z-index: 1;
}
#intro .image #pic-img:hover {
	border: 1px solid black;
}
#intro .image #pic-parallax {
	position: relative;
	z-index: -1;
}
#intro #head {
	width: 70%;
	margin: 2rem;
	padding-left: 5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
#intro #head .name {
	font-family: "Calistoga";
	font-size: 4rem;
}
#intro #head .description {
	font-family: Nunito;
	letter-spacing: 0.1rem;
	font-size: 1.4rem;
	color: var(--black);
	opacity: 0.5;
	font-style: italic;
	/*	transform:skewX(-10deg);
*/
	letter-spacing: 0.01px;
}
#intro #head .buttons {
	display: flex;
}
#intro #head .about-btn {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0.5rem 1rem;
	margin: 1.5rem 1rem 1.5rem 0rem;
	font-size: 1.25rem;
	box-shadow: 3px 3px 8px rgb(4 154 126 / 50%),
		-3px -3px 8px rgb(221 255 249 / 80%);
	border: 1px solid var(--white);
	border-radius: 1rem;
	background: var(--light);
	color: var(--light);
	transition: all 0.25s linear;
	background-image: linear-gradient(
		30deg,
		#60d5bf,
		#60d5bf,
		#60d5bf,
		#79f0da,
		#60d5bf,
		#60d5bf
	);
	font-weight: bold;
}

#intro #head button {
	margin: 0px 1rem;
}
#intro #head ion-icon {
	padding: 0px 0rem 0px 0.4rem;
}
#intro #head .about-btn:hover {
	transform: scale(1.1);
}
#intro #head .about-btn:active {
	transform: scale(1);
}
#intro .intro {
	color: var(--light);
}
#about {
	background: var(--light);
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}
.menu {
	display: none;
}
#about .heading-mob {
	display: none;
}
#about .heading {
	display: block;
	width: 30vw;
	font-size: 5rem;
	font-family: Calistoga;
	border-left: 2px solid var(--dark);
	color: var(--dark);
	line-height: 7rem;
	padding-left: 2vw;
}
#about .aboutme {
	width: 60vw;
	margin: 0px 2vw;
	font-family: Nunito;
	font-size: 1.2rem;
	line-height: 1.75rem;
	color: var(--font);
	text-align: justify;
}
#about .aboutme .content span {
	margin-bottom: 10px;
}
#education {
	background: var(--dark);
	position: relative;
	z-index: 2;
	color: var(--black);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 100vh;
}
#education .content {
	display: flex;
	width: 70%;
	flex-direction: column;
}
#education .content .edu {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
}
#education .content .edu .edu-content,
#education .content .edu .date {
	width: 50%;

	padding: 10px 0px;
}
#education .content .edu .date {
	font-size: 1.3rem;
}
#education .content .edu .date .cover span {
	border-bottom: 1px solid var(--black);
}
#education .content .edu .edu-content {
	/*height: 1.5rem;*/
	overflow: hidden;
}
#education .content .edu .edu-content .lead {
	font-size: 1.3rem;
	padding: 10px 10px 0px 10px;
}
#education .content .edu .edu-content .lead-desc {
	height: 0rem;
	overflow: hidden;
	background: var(--black);
	color: var(--light);
	transition: all 0.5s cubic-bezier(1, 0.27, 0.2, 1.4);
}
#education .content .edu:nth-child(even) .edu-content,
#education .content .edu:nth-child(odd) .date {
	display: flex;
	justify-content: flex-end;
	border-right: 2px dotted var(--black);
}
#education .content .edu:nth-child(odd) .edu-content,
#education .content .edu:nth-child(even) .date {
	display: flex;
	justify-content: flex-start;
}
#education .content .edu .edu-content,
#education .content .edu .date {
	padding: 1rem 0px;
}
#education .content .edu-content .before {
	width: 0px;
	height: 0px;
	border-bottom: 7px solid transparent;
	display: block;
	border-top: 7px solid transparent;
}
#education .content .edu-content:nth-child(odd) .before {
	border-left: 15px solid var(--black);
	margin-right: 5px;
}
#education .content .edu-content:nth-child(even) .before {
	border-right: 15px solid var(--black);
	margin-left: 5px;
}
#education .content .edu .place {
	width: 90%;
	overflow: hidden;
	border: 2px solid var(--black);
}
#education .content .edu-content:nth-child(odd) .place {
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#education .content .edu-content:nth-child(even) .place {
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
#education .content .date {
}
#education .content .circle {
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background: var(--black);
	transform: translateX(6px) translateY(2px);
	border: 3px double var(--dark);
	box-sizing: border-box;
}

#education .content .edu:nth-child(even) .circle {
	transform: translateX(-6px) translateY(2px);
}
#education .content .edu:hover .edu-content .lead-desc {
	height: 4rem;
	padding: 10px;
}
#education .heading {
	margin: 10px 0px;
	height: 10vh;
	font-size: 2rem;
	font-family: Calistoga;
	color: var(--black);
	padding-left: 2vw;
	position:absolute;
	top:0px;
}
#education #section3-content {
	margin-top: 3rem;
	height: 90vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: fill;
}
#education .timeline-image {
	width: 40%;
	overflow: hidden;
}
#education .timeline-image img {
	width: 100%;
}

#skills {
	background: var(--light);
	position: relative;
	z-index: 2;
	color: var(--white);
}
#skills #mobile
{
	display: none;
}
#skills .heading {
	margin: 10px 0px;
	height: 10vh;
	font-size: 3rem;
	font-family: Calistoga;
	color: var(--font);
	padding-left: 2vw;
	position: absolute;
	left: 0px;
	top: 1rem;
}
#skills .cover {
	position: absolute;
	top: 5rem;
	left: 0px;
	display: flex;
	justify-content: center;
	width: 100vw;
	perspective: 100rem;
}
#skills .spinner {
	width: 0px;
	/*border-left: 5px dotted var(--white);*/
	box-sizing: content-box;
	height: 50vh;
	background: rgba(255, 0, 0, 0);
	transform-origin: left;
	transition: all 0.25s linear;
	transform: rotateY(0deg);
	transform-style: preserve-3d; /*children will be set as per 3d*/
	position: relative;
	top: 10rem;
}
#skills .skill {
	height: 100px;
	width: 200px;
	display: flex;
	justify-content: center;
	position: absolute;
	top: 20px;
	background: rgba(0, 0, 0, 0.5);
	left: -100px;
	right: -100px;
}
#skills .skill img {
	height: 100%;
}
#skills .skill:nth-child(1) {
	transform: rotateY(0deg) translateZ(430px);
}
#skills .skill:nth-child(2) {
	transform: rotateY(36deg) translateZ(430px);
}
#skills .skill:nth-child(3) {
	transform: rotateY(72deg) translateZ(430px);
}
#skills .skill:nth-child(4) {
	transform: rotateY(108deg) translateZ(430px);
}
#skills .skill:nth-child(5) {
	transform: rotateY(144deg) translateZ(430px);
}
#skills .skill:nth-child(6) {
	transform: rotateY(180deg) translateZ(430px);
}
#skills .skill:nth-child(7) {
	transform: rotateY(216deg) translateZ(430px);
}
#skills .skill:nth-child(8) {
	transform: rotateY(252deg) translateZ(430px);
}
#skills .skill:nth-child(9) {
	transform: rotateY(288deg) translateZ(430px);
}
#skills .skill:nth-child(10) {
	transform: rotateY(324deg) translateZ(430px);
}
#skills .container {
	position: relative;
	width: 320px;
	perspective: 1000px;
}

#skills .carousel {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 0.25s linear;
	transform: rotateY(0deg);
	transform-origin: center center;
}
#skills .carousel__face {
	position: absolute;
	width: 200px;
	height: 100px;
	top: 20px;
	left: 10px;
	right: 10px;
	background-size: cover;
	box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
}

#skills .carousel__face img {
	width: auto;
	height: 100%;
}

.carousel__face:nth-child(1) {
	transform: rotateY(0deg) translateZ(430px);
}
.carousel__face:nth-child(2) {
	transform: rotateY(36deg) translateZ(430px);
}
.carousel__face:nth-child(3) {
	transform: rotateY(72deg) translateZ(430px);
}
.carousel__face:nth-child(4) {
	transform: rotateY(108deg) translateZ(430px);
}
.carousel__face:nth-child(5) {
	transform: rotateY(144deg) translateZ(430px);
}
.carousel__face:nth-child(6) {
	transform: rotateY(180deg) translateZ(430px);
}
.carousel__face:nth-child(7) {
	transform: rotateY(216deg) translateZ(430px);
}
.carousel__face:nth-child(8) {
	transform: rotateY(252deg) translateZ(430px);
}
.carousel__face:nth-child(9) {
	transform: rotateY(288deg) translateZ(430px);
}
.carousel__face:nth-child(10) {
	transform: rotateY(324deg) translateZ(430px);
}

.pre,
.next {
	position: absolute;
	bottom: 7rem;
	font-size: 3rem;
	cursor: pointer;
	font-weight: bolder;
	color: var(--font);
}
.pre::selection,
.next::selection {
	background: none;
}
.pre {
	left: 45%;
}
.next {
	right: 45%;
}

#works {
	background: var(--dark);
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	height: auto;
}
#works .rotate {
	width: 22vw;
	height: 70vh;
	background: var(--white);
	transition: all 0.25s ease;
}
#works .work:nth-child(even) .rotate {
	transform: rotateZ(7deg) translate(-25px, -5px);
}
#works .work:nth-child(odd) .rotate {
	z-index: 2;
	transform: rotateZ(-7deg) translate(25px, -5px);
}
#works .heading {
	margin: 0px 50%;
	height: 10vh;
	font-size: 3rem;
	font-family: Calistoga;
	color: var(--white);
	padding-left: 2vw;
	top: 1rem;
}
#works .work-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#works .work {
	display: flex;
	width: 40vw;
	margin: 1rem;
	background: var(--white);
	overflow: hidden;
	border: 0px;
	border-radius: 1rem;
	flex-direction: column;
	border: 1px solid var(--light);
	box-shadow: inset 0rem 0rem 2rem rgb(0 0 0 / 40%),
		inset -0.1rem 0.1rem 1rem rgb(144 144 144 / 40%),
		0.1rem 0.1rem 0.5rem rgb(255 255 255 / 40%);
}
#works .work .content {
	display: flex;
	height: 60vh;
	overflow: hidden;
	flex-direction: row;
}
#works .work-img-div {
	height: 60vh;
	width: 15vw;
	overflow-y: revert;
}
#works .work-img {
	height: 60vh;
	filter: contrast(70%);
	transition: all 0.25s linear;
}
#works .work-row .work:nth-child(even) .work-img {
	clip-path: polygon(0% 0%, 0% 100%, 40% 100%, 80% 0%);
}
#works .work-row .work:nth-child(odd) .work-img {
	clip-path: polygon(20% 0%, 60% 100%, 100% 100%, 100% 0%);
}
#works .work:hover .work-img {
	filter: contrast(100%);
	clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
}
#works .work:hover .rotate {
	transform: rotateZ(0deg) translate(0px, 0px);
}
#works .work:hover .work-img-div .work-img {
	transform: scale(1.1);
	clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
}

#works .work .desc {
	padding: 1rem;
	text-align: justify;
	color: var(--font);
}
#works .work .desc .title {
	font-weight: bolder;
	font-size: 1.2rem;
	margin-bottom: 1rem;
	text-decoration: underline;
}
#works .work .date {
	margin: 1rem 0rem;
	color: var(--font);
	font-weight: bolder;
	font-size: 0.8rem;
}

#contact {
	z-index: 2;
	position: relative;
	background: var(--light);
	height: auto;
	display: flex;
	flex-direction: column;
}
#contact .heading {
	height: 10vh;
	font-size: 2.5rem;
	font-family: Calistoga;
	color: var(--font);
	top: 1rem;
}
#contact .form {
	display: flex;
	flex-direction: row;
	width: 70vw;
	justify-content: space-between;
}
#contact .form .details {
	width: 50%;
	margin: 1rem;
	display: flex;
	flex-direction: column;
}
#contact .form .message-div {
	display: flex;
	margin: 1rem;
	width: 50%;
	flex-direction: column;
}
#contact .form input {
	width: 100%;
}
#contact .form .label {
	font-size: 1.2rem;
	font-weight: bold;
	margin-top: 1rem;
	color: var(--font);
	margin-bottom: 0.5rem;
}
#contact .form input {
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid;
	border-radius: 0px;
}
#contact .form textarea {
	height: 100%;
	resize: none;
}

#contact .icons {
	margin-top: 1rem;
}
#contact .icons a i {
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	background-image: linear-gradient(
		30deg,
		#60d5bf,
		#60d5bf,
		#60d5bf,
		#79f0da,
		#60d5bf,
		#60d5bf
	);
}
#contact .fa {
	font-size: 2rem;
	margin: 1rem;
}
#contact input[type="submit"] {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 40%;
	align-self: center;
	padding: 0.5rem 1rem;
	margin: 0.5rem 0rem 0rem 0rem;
	font-size: 1.25rem;
	box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
	border: 1px solid var(--white);
	background: var(--light);
	color: var(--font);
	transition: all 0.25s linear;
	color: var(--light);
	background: var(--dark);
	font-weight: bold;
}
#contact input[type="submit"]:hover {
	position: relative;
	top: 2px;
}
#contact input[type="submit"]:active {
	position: relative;
	top: 5px;
	transform: scale(0.9);
}
#contact textarea {
	padding: 5px;
}
#contact .icons .fa {
	color: var(--font);
}
#contact .icons .fa:hover {
	filter: drop-shadow(0px 0px 5px white);
}
@media (max-width: 768px) {
	body {
		overflow-x: hidden;
	}
	.section {
		min-height: 100vh;
		height: auto;
		padding: 1rem 0rem;
	}
	#nav {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 0rem;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100vh;
		transition: all 0.25s linear;
		overflow: hidden;
	}
	#nav .close {
		display: block;
		position: absolute;
		top: 0px;
		left: 0px;
		font-size: 2rem;
		margin: 1rem;
	}
	.menu .fa {
		font-size: 2rem;
		margin: 1rem;
		color: var(--white);
	}
	.menu {
		display: block;
		background: var(--primary);
		z-index: 5;
		position: fixed;
		border-bottom-right-radius: 50%;
		border-top-right-radius: 50%;
		border-bottom-left-radius: 50%;
		left: 0px;
		top: 0px;
		box-shadow: 2px 2px 10px var(--secondary),
			inset 1px 1px 10px 0px var(--light);
	}
	#intro #head .about-btn {
		font-size: 1rem;
	}
	#intro {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}
	#intro #head {
		width: 100%;
	}
	#intro .image img {
		height: 88vw;
		width: 85vw;
	}
	#about {
		flex-direction: column;
		justify-content: space-around;
	}
	#about .heading {
		display: none;
	}
	#about .heading-mob {
		display: block;
		font-size: 3rem;
		font-family: Calistoga;
		border-bottom: 2px solid var(--dark);
		color: var(--dark);
		padding-left: 2vw;
	}
	#about .aboutme {
		width: 90vw;
	}
	#education .content {
		width: 90%;
	}
	#education .timeline-image {
		display: none;
	}
	#education #section3-content {
		justify-content: center;
		align-items: center;
	}
	#education .content .edu:hover .edu-content .lead-desc {
		height: 12rem;
	}
	#skills #desktop{
		display: none;
	}
	#skills
	{
		min-height:0px;
		height:auto;
	}
	#skills #mobile
	{
		display:flex;
		color:var(--font);
		font-size:1.5rem;
		justify-content:center;
		flex-direction:row;
	}
	#skills #mobile .heading
	{
		position:re
		text-align:center;
		width:100vw;
	}
	#skills #mobile ul
	{
		line-height:3rem;
	}
	#works .work-row {
		flex-direction: column;
	}
	#works .work-row .work {
		width: 90vw;
		flex-direction: column;
	}
	#works .work .content {
		flex-direction: column;
	}
	#works .work .work-img-div {
		height: 60vh;
		width: 90vw;
		border-radius:1rem;
		overflow: hidden;
		position: absolute;
	}
	#works .work .title {
		z-index: 4;
		position: relative;
	}
	#works .work .desc
	{
		padding: 1rem;
		font-size:1.2rem;
		transition:all 0.25s linear;
	    text-align: justify;
	    color: var(--font);
	    z-index: 2;
	    height: 100%;
	    background: white;
	    border: 1px solid var(--light);
	    box-shadow: inset 0rem 0rem 2rem rgb(121 121 121 / 40%), inset -0.1rem 0.1rem 1rem rgb(144 144 144 / 40%), 0.1rem 0.1rem 0.5rem rgb(255 255 255 / 40%);
	}
	#works .work .work-img {
		width: 100%;
		height: 100vh;
		transform:rotateY(180deg);
		transition:all 0.25s linear;
		transition-delay:0.125s;

	}
	#works .work-row .work:nth-child(odd) .work-img {
		/*clip-path: polygon(0% 5%, 0% 100%, 100% 100%, 100% 5%);*/
	}
	#works .work-row .work:nth-child(even) .work-img {
		/*clip-path: polygon(0% 5%, 0% 100%, 100% 100%, 100% 5%);*/
	}
	#works .work-row .work:nth-child(odd):hover .work-img {
		/*transform: scale(1);*/
		/*clip-path: polygon(0% 5%, 0% 100%, 100% 100%, 100% 5%);*/
	}
	#works .work-row .work:nth-child(even):hover .work-img {
		/*transform: scale(1);*/
		/*clip-path: polygon(0% 5%, 0% 100%, 100% 100%, 100% 5%);*/
	}
	#works .work-row .work:hover .desc
	{
		transform: rotateY(90deg);
	}
	#works .work-row .work:hover .work-img
	{
		transform: rotateY(0deg);
	}

	#contact .form {
		display: flex;
		flex-direction: column;
		width: 100vw;
		justify-content: center;
		align-items: center;
	}
	#contact .form .details {
		width: 75%;
	}
	#contact .form .message-div {
		width: 75%;
	}
	#contact .heading {
		margin-top: 2rem;
	}
}
