*
{
	padding:0px;
	margin:0px;
	border:none;
	outline:none;
}
.section
{
	width:100%;
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	align-items:center;
}
#section1 .image
{
	margin:0px 3rem;
}
#section1 .image img
{
	width:50vw;
}
#section1 #head
{
	width:70%;
	margin:2rem;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:center;
}