@import url("https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Nunito:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calistoga&display=swap");
:root {
	--light: grey;
	--dark: #303030;
	--primary: yellow;
	--font: black;
	--secondary: #919191;
}
* {
	padding: 0px;
	margin: 0px;
	border: none;
	outline: none;
	/*border: 1px solid rgba(0, 0, 0, 0.2);*/
}
.section {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
#section1 {
	background: rgba(0, 0, 0, 0.2);
}
#section1 .image {
	position: relative;
	margin: 0px 3rem;
	background: rgba(0, 0, 0, 0.8);
}
#section1 .image img {
	height: 75vh;
	width: 70vh;
	transform-style: preserve-3d;
}
#section1 .image #pic-img {
	border: 1px solid black;
	transform: translateZ(20px);
	position: fixed;
	z-index: 1;
}
#section1 .image #pic-parallax {
	position: relative;
	z-index: -1;
}
#section1 #head {
	width: 70%;
	margin: 2rem;
	padding-left: 5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
#section1 #head .name {
	font-family: "Calistoga";
	font-size: 4rem;
}
#section1 #head .description {
	font-family: Nunito;
	letter-spacing: 0.1rem;
	font-size: 1.4rem;
	color: var(--light);
}

#section1 #head .about-btn {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0.5rem 1rem;
	margin: 1.5rem 0rem;
	font-size: 1.25rem;
	box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5),
		-3px -3px 8px rgba(255, 255, 255, 0.8);
	border: 1px solid white;
	border-radius: 1rem;
	background: var(--light);
	color: var(--font);
	transition: all 0.25s linear;
}
#section1 #head ion-icon {
	padding: 0px 0rem 0px 0.4rem;
}
#section1 #head .about-btn:hover {
	transform: scale(1.1);
}
#section1 #head .about-btn:active {
	transform: scale(1);
}
#section1 .intro {
	color: var(--light);
}
#section2 {
	background: var(--light);
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}
#section2 .heading {
	width: 30vw;
	font-size: 5rem;
	font-family: Calistoga;
	border-left: 2px solid var(--dark);
	color: var(--dark);
	line-height: 7rem;
	padding-left: 2vw;
}
#section2 .aboutme {
	width: 60vw;
	margin: 0px 2vw;
	font-family: Nunito;
	font-size: 1.2rem;
	line-height: 1.75rem;
	color: var(--font);
}
#section2 .aboutme .content span {
	margin-bottom: 10px;
}
#section3 {
	background: var(--dark);
	position: relative;
	z-index: 2;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 100vh;
}
#section3 .content {
	display: flex;
	width: 70%;
	flex-direction: column;
}
#section3 .content .edu {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
}
#section3 .content .edu .edu-content,
#section3 .content .edu .date {
	width: 50%;
	
	padding: 10px 0px;
}
#section3 .content .edu .date
{
	font-size: 1.3rem;
}
#section3 .content .edu .date .cover span
{
	border-bottom:1px solid white;
	
}
#section3 .content .edu .edu-content
{

	/*height: 1.5rem;*/
	overflow:hidden;
}
#section3 .content .edu .edu-content .lead
{
	font-size: 1.3rem;
	padding: 10px 10px 0px 10px;
}
#section3 .content .edu .edu-content .lead-desc
{
	height: 0rem;
	overflow: hidden;
	transition: all 0.5s cubic-bezier(1, 0.27, 0.2, 1.4);
}
#section3 .content .edu:nth-child(even) .edu-content,
#section3 .content .edu:nth-child(odd) .date {
	display: flex;
	justify-content: flex-end;
	border-right: 2px dotted white;
}
#section3 .content .edu:nth-child(odd) .edu-content,
#section3 .content .edu:nth-child(even) .date {
	display: flex;
	justify-content: flex-start;
}
#section3 .content .edu .edu-content,#section3 .content .edu  .date{
	padding:1.5rem 0px;

}
#section3 .content .edu-content .before {
	width: 0px;
	height: 0px;
	border-bottom: 7px solid transparent;
	display: block;
	border-top: 7px solid transparent;
}
#section3 .content .edu-content:nth-child(odd) .before {
	border-left: 15px solid white;
	margin-right: 5px;
}
#section3 .content .edu-content:nth-child(even) .before {
	border-right: 15px solid white;
	margin-left: 5px;
}
#section3 .content .edu .place {
	width: 90%;
	overflow: hidden;
	border: 2px solid white;
}
#section3 .content .edu-content:nth-child(odd) .place
{
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#section3 .content .edu-content:nth-child(even) .place
{
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
#section3 .content .date {
}
#section3 .content .circle {
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background: white;
	transform: translateX(6px) translateY(2px);
	border: 3px double var(--dark);
	box-sizing: border-box;
}

#section3 .content .edu:nth-child(even) .circle {
	transform: translateX(-6px) translateY(2px);
}
#section3 .content .edu:hover .edu-content .lead-desc{
	
	height: 5rem;
	/*border: 1px solid var(--dark);*/
	background: white;
	color: black;
	padding: 10px;
}
#section3 .heading {
	height: 10vh;
	font-size: 2rem;
	font-family: Calistoga;
	color: white;
		padding-left: 2vw;
}
#section3 #section3-content
{
	height: 90vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: fill;
}
#section3 .timeline-image
{
	width: 40%;
	overflow: hidden;
}
#section3 .timeline-image img
{
	width: 100%;

}
#section3 .content
{
	display: grid;
}